{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">이름</th>
        <th scope="col">도로명주소</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {{#hospitals}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/hospitals/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/hospitals}}
    </tbody>
</table>
<ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="?page={{previous}}">Previous</a></li>
    <li class="page-item"><a class="page-link" href="?page={{next}}">Next</a></li>
</ul>

{{>layouts/footer}}