{{>layouts/header}}

    <div>
        {{# id}}
            <h1>{{id}} {{username}} Hello! </h1>
        {{/ id}}
        {{^ id}}
            <h1>{{username}} Hello! </h1>
        {{/ id}}
    </div>
    <h1><button style="margin-left: 20px">버튼</button></h1>
    <button type="button" class="btn btn-info" style="margin-left: 50px">Info</button>

{{>layouts/footer}}